name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    strategy:
      matrix:
        go: ['1.14', '1.15', '1.16', '1.17', '1.18', '1.19']
        os: ['ubuntu-18.04', 'ubuntu-20.04']
      fail-fast: false
    name: ${{ matrix.os }} / Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test
      run: make test EXTRAGOARGS=-v
